<style>

        .content{
            width: 500px;
        
        }
          table, th, td{
            color: black;
            border: 2px solid black;
            border-collapse: collapse;
            padding: 20px;
          }
          th{
            color : white;
            background-color: blueviolet;
          }
          tr:nth-child(1){
            background-color: #C79797 ;
          }
          tr:nth-child(2){
            background-color: #FA821D  ;
          }
          tr:nth-child(3){
            background-color: #7E9BD3 ;
          }
          tr:nth-child(4){
            background-color: #9399A4  ;
          }
   
          input[type=text], select, textarea{
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 15px;
            resize: vertical;
          }
          input[type=number], select, textarea{
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 15px;
            resize: vertical;
          }
          input[type=password], select, textarea{
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 15px;
            resize: vertical;
          }
        

              input[type=button], input[type=submit], input[type=reset] {
                background-color: #04AA6D;
                border: none;
                color: white;
                padding: 16px 32px;
                text-decoration: none;
                margin: 4px 2px;
                cursor: pointer;
              }

              footer {
                text-align: center;
                padding: 3px;
                background-color: purple;
                color: white;
              }
              
          
        </style>